<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>{{2+2}}</h2>
  <p>{{"Welcome" + title}}</p>
  <p>{{title.toUpperCase()}}</p>
  <p>{{getName()}}</p>
  <p class="{{className}}">{{siteUrl}}</p>
  <input type="text" value="Nimesha" #userName>
  <button (click)="onClick($event)">Click me</button>
  <button (click)="onLog(userName.value)">Log</button>
  <br>
  <h1>Real time update</h1>
  <input type="text" [(ngModel)]="name">
  <p>{{name}}</p>
  <p>{{msg}}</p>

  <button (click)="onShow()">Show</button>
  <h4 *ngIf="isVisible; else showName">Structural directive</h4>
  <ng-template #showName>
    <h4>My hidden name</h4>
  </ng-template>

  <ul *ngFor="let color of colors">
    <li>{{color}}</li>
  </ul>

  <app-test></app-test>
</div>



